/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

/* General Style */
body {
/*	background: #0a120c;*/
}

/* Simple Button styles*/
button {

}

/* Simple Button Style on Hover */
button:hover {
	background-color: rgb(100,100,100,0.8);
	cursor: hand;
}

/* General Styling for Menu Screens */
[data-menu] {

}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-menu="main"] {
	background-image: url('../img/ui/main-screen1.png');
}

/* Main Menu Buttons Styling */
[data-menu="main"] button {
	z-index: 30;
}

[data-menu="main"] button {
	z-index: 30;
}

[data-ui="inner-menu"] {
	left:1%;
}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-ui="slots"] figure {

}

/* Slot's Image Style */
[data-ui="slots"] img {

}

/* Slots Title Style */
[data-ui="slots"] figcaption {

}

/* Slots Delete Button Style */
[data-ui="slots"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-ui="choices"] button {

}

/* Choice Button Style on Hover */
[data-ui="choices"] button:hover {

}

/* Text Box styling */
[data-ui="text"] {
	background-color: rgb(92,92,92,0.7);
	min-height: 0%;
	max-height: 100%;
	width: 90%;
    margin: 0em 5%;
    border-style: double;
    box-shadow: 0px 0px 5px #424242;
    border-radius: 10px;
    overflow: visible;
}
/* Face styling */
[data-ui="face"]{
	width: 50px;
	border-radius: 50%;
	box-shadow: 0px 0px 7px #aaa;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left:2%;
	background-color: #bbb;
}
	

/* Character Name Style */
[data-ui="who"] {
	width:0;
	position: absolute;
    top: -2.1em;
/*
    background: rgb(140,140,140,0.7);
	border-style: dotted;
    box-shadow: 0px 0px 12px #969696;
    border-radius: 5px;*/
}

[data-ui="text"] p{
	width:auto;
	padding:0;
	margin:0;
	margin-top: 1%;
	margin-bottom:1%;
	margin-left: 8%;
    padding-top: 1%;
    padding-bottom:1%;

    font-family: "Palatino";
    font-weight: bold;
	text-align: left;
}

/* Style for Centered Text */
[data-ui="centered"] {
	color:#eee;
	font-family: "Lucida Console", Courier, monospace;
	width: 80%;
/*	font-family: "Ravi Prakash"; 
	font-style: normal;
	font-weight: 200;*/
}

/* Character Images Styles */
#game [data-character] {

}

/* Other Images Styles */
#game [data-image] {

}




/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-ui="quick-menu"] {
	background-color: rgb(92,92,92,0.7);
	width:100%;

}

/* Quick Menu Buttons Style */
[data-ui="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-ui="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-ui="quick-menu"] > span > .fa {

}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-ui="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-ui="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-ui="quick-menu"] span:hover {

	}
}